  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="/evento#intro" class="scrollto"><span>Evento</span></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/evento#intro"><i class="fa fa-home"> Home</i></a></li>
          <li><a href="/evento#about"><i class="fa fa-users"> About Us</i></a></li>
          <li><a href="/evento#services"><i class="fa fa-certificate"> Products</i></a></li>
          <li><a href="#"><i class="fa fa-ticket">  Tickets</i></a></li>
          <li><a href="/evento#certificate"><i class="fa fa-certificate"> Certificate</i></a></li>
          <li><a href="/evento#portfolio"><i class="fa fa-event"> Events</i></a></li>
          <li><a href="/sidebar"><i class="fa fa-plus">  Event-creation</i></a></li>
          <li><a href="/login"  class="nav-link"><i class="fa fa-sign-in"> Login</i></a></li>
          
        </ul>
      </nav><!-- .main-nav -->
      
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
         <div class="col-md-6 intro-info order-md-first order-last">
           `<h2>Evento Solutions for Your<br><span>Events!</span></h2>
            <div>
               <a href="/register"  class=nav-link class="btn-get-started scrollto">Register here</a>
            </div>
         </div>
	         
      </div>
    </div>
	
  </section><!-- #intro -->

  
  

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" class="section-bg">
      
        <header class="section-header">
          <h3 class="section-title">Upcoming Events</h3>
        </header>
           
        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
			
          </div>
        </div>

        
        <div class="container">
            <!-- <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"> -->
          
      
            <div  style="width:50%; text-align: center; margin-left: 10%;">
                
              <div class="gallery" *ngFor=" let event of event ; let i=index" >
                       
                <a>
                  <img src="../../assets/events/{{i+1}}.jpg" alt="image" style="width: 200px; height: 150px">
                </a>       
                <div class="desc">
                  {{event.title}}<br>
                  {{event.event_type}},<br>
                  {{event.event_category}}<br>
                  {{event.day| date:'medium' }}<br>
                  <div>
                      <a href="/evntregistration" class=nav-link class="btn-get-started scrollto">Register here</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
          
    </section><!-- #portfolio -->

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="../../assets/img/about-img.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>About Us</h2>
              <h3></h3>
              <p>Evento is a global platform for live experiences that allows anyone to create,share,find and attend events that 
              fuel their passion and enrich their lives.</p>
              <p>Leave your event in the capable hands of the professionals.A place where the impossible becomes possible,where budget
              can become a desired outcome,and where dreams can become a reality.</p>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->


    <!--==========================
      Services Section
    ============================-->
    <section id="services" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Products</h3>
          <p>Products of Evento.</p>
        </header>

        <div class="row">

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fceef3;"><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Custom Registration Forms </a></h4>
              <p class="description">An event will be created / configured in the platform. The event may have multiple sessions/ tracks. These tracks/sessions are created and handled in the systems. A complete one page web-page is created for the event. The page can be configured according to the theme and taste of the user. </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #fff0da;"><i class="ion-ios-bookmarks-outline" style="color: #e98e06;"></i></div>
              <h4 class="title"><a href="">Custom Homepage</a></h4>
              <p class="description">Dynamic home page consists of the information about the event and venue of the event. It also includes the logo of the event, help, create event, browse event. </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e6fdfc;"><i class="ion-ios-paper-outline" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Coupon Management</a></h4>
              <p class="description">It gives the discount for registration. The discounts are of two types, one is based on the percentage and the other is based on the rupees. These discounts are limited to certain period of time after that it is invalid. </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #eafde7;"><i class="ion-ios-speedometer-outline" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">QR Code Ticketing </a></h4>
              <p class="description">The one who registered to attend the event should have the QR code which was send through the email and when the QR code is scanned it should match with the QR code present with the admin then the person is eligible for entering the event.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #e1eeff;"><i class="ion-ios-world-outline" style="color: #2282ff;"></i></div>
              <h4 class="title"><a href="">Queue Management</a></h4>
              <p class="description">Managing the crowd during the event is tough. Using this product, checkpoints are created in the event at various counters like food counter, giveaway counter, individual sessions and etc.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="">Certificate Module</a></h4>
              <p class="description">This certificate module is used to provide the certificates to the participants based on the event / session and category wise. A digital certificate is generated and sent to the participants through email. The certificate contains QR code to verify the authenticity.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-delay="0.2s" data-wow-duration="1.4s">
            <div class="box">
              <div class="icon" style="background: #ecebff;"><i class="ion-ios-clock-outline" style="color: #8660fe;"></i></div>
              <h4 class="title"><a href="">Feedback Forms and Analytics</a></h4>
              <p class="description"> After the event has finished the participants will receive a feedback form in that they should through their   opinions/suggestions.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #services -->

    <!--==========================
      Why Us Section
    ============================-->
    <section id="why-us" class="wow fadeIn">
      <div class="container-fluid">
        
        <header class="section-header">
          <h3>Why choose us?</h3>
          <p>A choice that makes the difference.</p>
        </header>

        <div class="row">

          <div class="col-lg-6">
            <div class="why-us-img">
              <img src="../../assets/img/why-us.jpg" alt="" class="img-fluid">
            </div>
          </div>

          <div class="col-lg-6">
            <div class="why-us-content">
             
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-diamond" style="color: #f058dc;"></i>
                <h4>WE CARE ABOUT YOUR EVENT</h4>
                <p>Choosing Evento is an investment towards your event because we treasure and care for all our clients and we are prepared to go that extra mile to make each event unique and memorable. With our experienced team, we ensure the success of your event – that is why we do not simply ‘manage’ things – we ‘orchestrate’ every single component of your special day.</p>

                
              </div>

              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-object-group" style="color: #ffb774;"></i>
                <h4>WE PROVIDE QUICK RESPONSE</h4>
                <p>We never let the client down (and never have).  We communicate with you every step of the way with project plans, regular updates and reports..</p>
              </div>
              
              <div class="features wow bounceInUp clearfix">
                <i class="fa fa-language" style="color: #589af1;"></i>
                <h4>Voluptates dolores</h4>
                <p>We design the event, plan the great day and coordinate to all suppliers involved so you can enjoy of preparations and the day designated without more concerns that say I do!.</p>
              </div>
              
            </div>

          </div>

        </div>

      </div>

      <div class="container">
        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">15</span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">3000</span>
            <p>Participants</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">4</span>
            <p>Organisers</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">3</span>
            <p>Themes</p>
          </div>
  
        </div>

      </div>
    </section>

    <!-- Certificate -->

    <section id="certificate">
      <header>
         <h2 class="certy" style="text-align: center;">Certificate</h2>
      </header>
      <div class="row">
        <div class="column1">
          <div class="card1">
              <img src="../../assets/img/certy.png" alt=""  class="img-fluid">
          </div>
        </div>
      
        <div class="column1">
          <div class="card2">
              <img src="../../assets/img/certy2.jpg" alt=""  class="img-fluid">
          </div>
        </div>
      </div>  
    </section>

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">Call To Action</h3>
            <p class="cta-text">Host your own Event</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->

    <!--==========================
      Features Section
    ============================-->
    <section id="features">
      <div class="container">

        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="../../assets/img/int.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Evento Introduction</h4>
            <p>
              Event management is also a kind of project management. The event management also have multiple phases in its life cycle. Nowadays, handling an event from end to end is not that easy as it looks like. It can be managed with one event management software. 
            </p>
            <p>
              It needs lot of manpower and planning  lot of steps starts from planning, publishing, execution and post event reports. An event management ERP which streamlines the event life cycle process. There are some applications available in market which focus on only one phase of the event life cycle.
            </p>
          </div>
        </div>


      </div>
    </section><!-- #about -->

    <!--==========================
      Clients Section
    ============================-->
    <section id="testimonials">
      <div class="container">

        <header class="section-header">
          <h3>Testimonials</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">
    
              <div class="testimonial-item">
              
                <h3>Saul Goodman</h3>
                <h4>Ceo  Founder</h4>
               
                <p>
                  Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                </p>
              </div>
    
              <div class="testimonial-item">
               
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
                </p>
              </div>
    
              <div class="testimonial-item">
               
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.
                </p>
              </div>
    
              <div class="testimonial-item">
               
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                </p>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #testimonials -->

   

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>Evento</h3>
                    <p></p>
                  </div>

                  <div class="footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>For subscription use below subscriber bar.</p>
                    <form action="" method="post">
                      <input type="email" name="email"><input type="submit"  value="Subscribe">
                    </form>
                  </div>

                </div>

                <div class="col-sm-6">
                  <div class="footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Services</a></li>
                      <li><a href="#">Terms of service</a></li>
                      <li><a href="#">Privacy policy</a></li>
                    </ul>
                  </div>

                  <div class="footer-links">
                     <h4>Contact Us</h4>
                     <p>
                       IT park Hill no.2 <br>
                       Rushikonda,Vishakhapatnam<br>
                       (Andhra Pradesh) INDIA <br>
                       <strong>Phone:</strong>7075443658<br>
                       <strong>Email:</strong>evento@gmail.com<br>
                     </p>
                  </div>

                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>

                </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">
              
              <h4>Send us a message</h4>
              <p>If you have any queries then fill in the form below and we will respond within 48 hours.</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>

          </div>

          

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
         Copyright <strong> Evento </strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  