
 <table  style="width:50%; text-align: center; margin-left: 30%;">

//To get number of events at a time by using loop statement.
 <tr *ngFor=" let event of event ; let i=index" > 
        <td>
                <img src="../../assets/events/{{i+1}}.jpg" alt="image" style="width: 250px; height: 150px">
        </td>       
        <td> 
                 {{event.title}}<br>
                 {{event.event_type}},
                 {{event.event_category}}<br>
                 {{event.day}}<br>
                 <button class="btn btn-primary">Register here</button>
        </td>
 </tr> 
</table>  




  
